<app-navbar [role]="'company'"></app-navbar>

<div class="applications-page">
  <h2 class="page-title">Postulaciones recibidas</h2>

  <div *ngIf="applications.length === 0" class="empty">
    No hay postulaciones aún
  </div>

  <div class="cards-grid">
    <div *ngFor="let a of applications" class="card">
      <h3>{{ a.vacancie.title }}</h3>

      <p class="description">
        {{ a.vacancie.description }}
      </p>

      <div class="info-grid">
        <div>
          <i class="fa-solid fa-user"></i>
          <b>Estudiante:</b> {{ a.student.fullName }}
        </div>

        <div>
          <i class="fa-solid fa-graduation-cap"></i>
          <b>Carrera:</b> {{ a.student.career }}
        </div>

        <div>
          <i class="fa-solid fa-building"></i>
          <b>Universidad:</b> {{ a.student.university.name }}
        </div>

        <div>
          <i class="fa-solid fa-calendar"></i>
          <b>Fecha:</b>
          {{ a.createdAt | date: "mediumDate" : "UTC" : "es-CO" }}
          {{ a.createdAt | date: "shortTime" : "UTC" : "es-CO" }}
        </div>

        <div>
          <i class="fa-solid fa-circle-info"></i>
          <b>Estado:</b>

          <span
            [ngClass]="{
              'status-activa': a.status === 'Activa',
              'status-suspendida': a.status === 'Suspendida',
              'status-cancelada': a.status === 'Cerrada',
            }"
          >
            {{ a.status }}
          </span>
        </div>
        <div *ngIf="a.companyComments">
          <i class="fa-solid fa-comment"></i>
          <b>Comentario empresa:</b>
          {{ a.companyComments }}
        </div>
      </div>

      <div class="actions">
  <button class="btn-update" (click)="updateApplication(a)">
    <i class="fa-solid fa-pen-to-square"></i>
    Actualizar
  </button>

  <button class="btn-manage" (click)="managePractice(a.id)">
    <i class="fa-solid fa-briefcase"></i>
    Contratar
  </button>
</div>
    </div>
  </div>
  <div class="pagination-container" *ngIf="pageCount > 1">
    <button
      class="pagination-btn"
      (click)="previousPage()"
      [disabled]="!hasPrev"
    >
      <i class="fa-solid fa-chevron-left"></i>
      Anterior
    </button>

    <select
      class="pagination-select"
      [value]="page"
      (change)="goToPage(+$any($event.target).value)"
    >
      <option *ngFor="let p of pages" [value]="p">
        Página {{ p }} de {{ pageCount }}
      </option>
    </select>

    <button class="pagination-btn" (click)="nextPage()" [disabled]="!hasNext">
      Siguiente
      <i class="fa-solid fa-chevron-right"></i>
    </button>
  </div>
</div>
